<html lang="en">
    <head>
        <title>{% block title %}Title{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Load the tag library #}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    {#        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>#}
            <span class="fs-4">Simple header</span>
          </a>
          <ul class="nav nav-pills">
              {% if header_selection_index == 1 %}
                <li class="nav-item"><a href="{% url 'guest_check:home' %}" class="nav-link">Guest Check</a></li>
                <li class="nav-item"><a href="{% url 'id_explain:home' %}" class="nav-link active" aria-current="page">ID Explain</a></li>
              {% elif header_selection_index == 0 %}
                <li class="nav-item"><a href="{% url 'guest_check:home' %}" class="nav-link active" aria-current="page">Guest Check</a></li>
                <li class="nav-item"><a href="{% url 'id_explain:home' %}" class="nav-link">ID Explain</a></li>
              {% endif %}
          </ul>
        </header>
    </div>
    {% block body %}
    {% endblock body %}
<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>

